<!DOCTYPE html>
<html>
  <head>
    <!-- <link href="stylesheets/style.css" rel="stylesheet" /> -->
    <link
      href="https://unpkg.com/carbon-components/css/carbon-components.min.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <div id="instructions_div">
      <h3>Instructions</h3>
      <ol>
        <li>Draw a single digit ( 0 - 9 ) in the box using your mouse</li>
        <li>
          Choose whether to prepare the image data to be sent to a model
          deployment or to a function deployment
        </li>
        <li>Then click <b>Analyze</b></li>
      </ol>
    </div>
    <div class="bx--form">
      <div class="bx--form-item bx--text-input-wrapper">
        <label for="text-input-3" class="bx--label">ZIP Code</label>
        <div class="bx--text-input__field-wrapper">
          <input
            id="input-zip-code"
            type="text"
            class="bx--text-input"
            placeholder="Placeholder text"
          />
        </div>
      </div>

      <div class="bx--form-item bx--text-input-wrapper">
        <label for="text-input-3" class="bx--label">Land Square Feet</label>
        <div class="bx--text-input__field-wrapper">
          <input
            id="input-land-sq-ft"
            type="text"
            class="bx--text-input"
            placeholder="Placeholder text"
          />
        </div>
      </div>

      <div class="bx--form-item bx--text-input-wrapper">
        <label for="text-input-3" class="bx--label">Gross Square Feet</label>
        <div class="bx--text-input__field-wrapper">
          <input
            id="input-gross-sq-ft"
            type="text"
            class="bx--text-input"
            placeholder="Placeholder text"
          />
        </div>
      </div>

      <div class="bx--form-item bx--text-input-wrapper">
        <label for="text-input-3" class="bx--label">Year Built</label>
        <div class="bx--text-input__field-wrapper">
          <input
            id="input-year-built"
            type="text"
            class="bx--text-input"
            placeholder="Placeholder text"
          />
        </div>
      </div>

      <button id="btn-form" class="bx--btn bx--btn--primary" type="button">
        Button
      </button>
    </div>
    <!-- Put HTML snippets of components here... -->
    <script src="https://unpkg.com/carbon-components/scripts/carbon-components.min.js"></script>
    <script type="text/javascript" src="javascripts/javascript.js"></script>
    <script>
      var socket = io.connect();

      socket.on("processresult", processresultHandler);

      function sendPayloadToDeployment(payload) {
        document.getElementById("results_spinner").style.display = "block";

        var deployment_type = document.querySelector(
          'input[name="deployment_type"]:checked'
        ).value;

        socket.emit(deployment_type, payload);
      }
    </script>
  </body>
</html>
